#full-information {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 401px;
  gap: 100px;
  align-items: center;
}
#full-information .flag {
  height: 300px;
  width: auto;
}

.information-desc {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  align-items: center;
  height: 300px;
}

.information-desc-title {
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-color);
  margin-bottom: 23px;
}

.othes-info,
.main-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.desc-title {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--text-color);
}

.jump-countries-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.jup-to-countrie {
  cursor: pointer;
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 5px 27px;
  border: none;
  background-color: var(--box-color);
  color: var(--text-color);
}

/* return-btn */
#return-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 136px;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  border: none;
  background: var(--box-color);
  color: var(--text-color);
}
